.selected-option {
  min-height: 20px;
  min-width: 20px;
  font-family: system-ui;
  font-size: 1.5vw;
  border: 0.05em solid #767676;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: white;
}

.dropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0.05em solid #767676;
  position: absolute;
  background: white;
}

.option {
  min-height: 20px;
  min-width: 20px;
  font-family: system-ui;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
}

.option:hover {
  background: #a9a9a9;
}
